name: Build scilus/actions-runner image

on:
    workflow_dispatch:
    schedule:
        - cron: "0 2 * * *" # Runs at 02:00 every day

jobs:
    build-action-runner:
        runs-on: scilus-docker-builders

        steps:
            - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

            - name: VTK version
              id: vtk-version
              run: |
                version=$(cat versioning.hcl | grep vtk-version | sed 's/vtk-version="\(.*\)"/\1/')
                echo "::set-output name=version::$version"

            - name: actions-runner version
              id: github-runner
              uses: docker://ghcr.io/scilus/actions-runner:latest
              with:
                entrypoint: /bin/bash
                args: -c "echo ::set-output name=version::$(cat /version.txt)"

            - name: build
              uses: ./docker-builder.yml
              with:
                target: actions-runner
                tag: ${{ steps.github-runner.outputs.version }}-vtk${{ steps.vtk-version.outputs.version }}
                update-latest: true
                disable-builddate-tag: true
                actions-runner-version: ${{ steps.github-runner.outputs.version }}
